button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    background-color: #dda9ab;
    color: #fff;
    padding: 0.10em;
    margin: 0.2em;
}

button:hover {
    cursor: pointer;
}

.calculadora {
    border: 4px solid #dda9ab;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

.calculadoraCabecalho {
    border: 3px solid #e2c9d3;
    border-radius: 1em;
    margin: 1em;
}

h2{
    display: flex;
    justify-content: right;
    padding: 1em;
    font-size: 30px;
    color: #545454;
}

.purple{
    background-color: #E1CADA;
    color: #545454;
}

.green{
    background-color: #E3D5CA;
    color: #545454;
}

@media screen and (max-width: 600px) {
    .MuiBox-root.css-1qapnz0{
        width: 100px;
        margin: 10px 0 0;
    }
    .MuiContainer-root.MuiContainer-maxWidthXs.css-mzavur-MuiContainer-root{
        padding: 11px;
    }
    .calculadora{
        width: 390px;
    }
}

